#root {
  color: black;
}

#ul-list{
  display: grid;                     /* Enable CSS Grid */
  grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
  gap: 20px;
}

.li-list-cls{
  width: 350px;
  background-color: whitesmoke;
  list-style-type: none;

  display: flex;
  flex-direction: column;
}

.h2-title-cls{
  border: solid 2px black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 0;
}
.img-picture-cls{
  display: block;
  padding: 10px;
  margin: auto;
}
.p-summary-cls{
  padding: 0 20px 20px 20px;
}