body{
  background-color: #151b29;
}

#root {
  
  
}

#ul-list{
  width: 90%; /* Keep this */
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-between; /* Use space-between for better spacing */
  gap: 20px; /* Optional: Add consistent gap between items */
 
}

.li-list-cls{
  width: calc(33.333% - 20px); /* Adjust width to fit three items, accounting for gaps */
  background-color: #252f46;
  list-style-type: none;
  color: rgb(127, 137, 146);
  border: 2px solid;
  border-radius: 3%;
  transition: all 0.15s;

}

.h2-title-cls{
  border: solid 2px rgb(127, 137, 146);
  border-radius: 0.5em;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  box-sizing: border-box;
  color: #D3D3D3;
  
  margin-top: 0;
}
.img-picture-cls{
  width: 70%;
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
}
.p-summary-cls{
  margin: 10% 10%;
}

.p-episode-link{
  margin: auto 10% 5% 10%; /* Push the link to the bottom */
}
.episode-link{
  text-decoration: none;
  color: #A0DEFF;
}

.li-list-cls:hover{
  /* border-color: #f1ff5c; */
  box-shadow: 0 0.5em 1em -0.4em #f1ff5c;
  transform: translateY(-0.5em);
  width: calc(33.333% - 10px);
  .p-episode-link{
    box-shadow: 0.3em 0.3em 1em -0.5em #f1ff5c;
  }
}
@media(max-width:820px){
  .li-list-cls{
    width: 45%;
    
  }
  
}
@media(max-width:450px){
  .li-list-cls{
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

